<!doctype html>
<html>
<head>
    <title>Main Page</title>
</head>

<body>
    <h1>Stonehill ACM</h1>

    <img src="../images/logo.jpg" alt = "Stonehill Logo"/>

    <h2>Faculty Mentor:</h2>
    <p>Shai Simonson</p>
    <h2>The officers are:</h2>
    <ul>
        <li><h3>Ashley Swift</h3></li>
        <li>Emily May</li>
        <li>Tiziana Hernandez</li>
        <li>Adam Falcone</li>


    </ul>

    <form action="/action_page.php">
        <label for="cars">Choose a car:</label>
        <select name="cars" id="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>


    </br>
    </br>
    <h2>Upcoming events</h2>
    </br>
      <table>
        <thead>
            <tr>
                <td>Date</td>
                <td>Event</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>9/19</td>
                <td>HTML workshop</td>
            </tr>
            <tr>
                <td>10/3</td>
                <td>CSS Workshop</td>
            </tr>
        </tbody>


      </table>



</body>

    
</html>