<!doctype html>
<html>

<head>
    <title>Hackathons</title>
	<link rel = 'stylesheet'  href = '../static/mainpage.css'/>
</head>

<body>
    <img src="../static/images/StonehillLogo.gif" alt="Stonehill Logo"/> 
    <h1>Stonehill Student Chapter of the ACM</h1>
    <div class = "center">
    <h2>Upcoming Hackathons</h2>
    <table class= "centeredTable">
        <thead>
            <tr>
                <td>Name</td>
                <td>Where</td>
                <td>When</td>
                <td>Website</td>
            </tr>
        </thead>
        <!--<br/>-->
        <tbody>
            <tr>
                <td>Global Hack Week September</td>
                <td>Remote</td>
                <td>September 10-17</td>
                <td><a href="https://organize.mlh.io/participants/events/7951-global-hack-week-september-2022">https://organize.mlh.io/participants/events/7951-global-hack-week-september-2022</a></td>
            </tr>
            <tr>
                <td>Hacking Stereotypes</td>
                <td>Boston, MA</td>
                <td>September 23-25</td>
                <td><a href="https://hacksmu.org/">https://hacksmu.org</a></td>
            </tr>
            <tr>
                <td>Girls Hoo Hack</td>
                <td>Hybrid</td>
                <td>October 15-16</td>
                <td><a href="https://organize.mlh.io/participants/events/8321-techtogether-boston" >https://organize.mlh.io/participants/events/8321-techtogether-boston</a></td>
            </tr>
            <tr>
                <td>SacHacks</td>
                <td>Remote</td>
                <td>October 15-16</td>
                <td><a href="https://sachacks.io/" >https://sachacks.io/</a> </td>
            </tr>
            <tr>
                <td>Global Hack Week October</td>
                <td>Remote</td>
                <td>October 23-30</td>
                <td><a href="https://www.gwcuva.com/hack">https://www.gwcuva.com/hack</a></td>
            </tr>
            <tr>
                <td>Global Hack Week December</td>
                <td>Remote</td>
                <td>December 4-11th</td>
                <td><a href="https://organize.mlh.io/participants/events/7953-global-hack-week-december-2022">https://organize.mlh.io/participants/events/7953-global-hack-week-december-2022</a></td>
            </tr>
            <tr>
                <td>Hacklytics 2023</td>
                <td>Hybrid</td>
                <td>Feb 10-12</td>
                <td><a href="https://hacklytics.io/">https://hacklytics.io/</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    <br/>
     
</body>
</html>
