<!doctype html>
<html>

<head>
    <title>Main Page</title>
	<link rel = 'stylesheet'  href = '../static/mainpage.css'/>
</head>

<body>
    <img src="../static/images/StonehillLogo.gif" alt="Stonehill Logo"/> 
    <h1>Stonehill Student Chapter of the ACM</h1>
    <h2 id="sponsor">Faculty Sponsor: Shai Simonson</h2><br/>
    <div class="divclass">
        <div class="child">
        <h2>Current ACM Officers:</h2>
        <ul>
            <li>Co-Presidents: Emily May and Ashley Swift</li>
            <li>Secretary: Tiziana Hernandez</li>
            <li>Treasurer: Adam Falcone</li>
        </ul>
        </div>
        <div class="child">
            <h2>Some Useful Links:</h2>
            <ul>
                <li><a href = "/meetings">Tentative Meeting Schedule</a></li>
                <li><a href="/hackathons">Upcoming Hackathons</a></li>
                <li><a href="https://www.acm.org/membership/join">Become an ACM Member</a></li>
            </ul>
        </div>
    </div>   
     
</body>
</html>