<!doctype html>
<html>

<head>
    <title>Meetings</title>
	<link rel = 'stylesheet'  href = '../static/mainpage.css'/>
</head>

<body>
    <img src="../static/images/StonehillLogo.gif" alt="Stonehill Logo"/> 
    <h1>Stonehill Student Chapter of the ACM</h1>
    <div class = "center">
    <h2>Tentative Meeting Schedule</h2>
    <table class= "centeredTable">
        <thead>
            <tr>
                <td>Date</td>
                <td>Content</td>
            </tr>
        </thead>
        <!--<br/>-->
        <tbody>
            <tr>
                <td>Week of 9/5</td>
                <td>Guest Speaker</td>
            </tr>
            <tr>
                <td>Week of 9/19</td>
                <td>HTML Web Workshop</td>
            </tr>
            <tr>
                <td>Week of 10/3</td>
                <td>CSS Web Workshop</td>
            </tr>
            <tr>
                <td></td>
                <td>Web Design Contest With Prize, 2 Weeks for Submissions</td>
            </tr>
            <tr>
                <td>Week of 10/17</td>
                <td>Guest Speaker</td>
            </tr>
            <tr>
                <td>Week of 10/31</td>
                <td>Machine Learning Workshop</td>
            </tr>
            <tr>
                <td>Week of 11/7</td>
                <td>Resume/LinkedIn/Interview Workshop</td>
            </tr>
            <tr>
                <td>Week of 11/21</td>
                <td>Guest Speaker – Cybersecurity</td>
            </tr>
            
        </tbody>
    </table>
    </div>
    <br/>
     
</body>
</html>